body {
  font-family: Bitter;
  background: #e7eded;
}
.todo {
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  background: #fff;

}

.todo h2 {
  font-weight: 400;
  color: #008aff;
  font-size: 2rem;
}

.todo .todo-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.todo-list {
  border: 1px solid #f6fafa;
  background: #f6fafa;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1rem;
}

.todo-list h3 {
  font-weight: 400;
  font-size: 1.5em;
}


.todo-item {
  position: relative;
  background: #fff;
  padding: 10px 15px;
  color: #333;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.todo-item h4 {
  margin: 0;
  font-weight: 500;
}

.todo-item i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: tomato;
  cursor: pointer;
  padding:10px;
  /* border: 1px solid blue; */
  border-radius: 50%;
  height: 10px;
  width: 10px;
  line-height: 10px;
}

/* 
.todo-item i:hover{
  color: #008aff;
} */

.todo-item .content {
  color: #807f7f;
  font-size: .8rem;
  margin-top: 5px;
}

.user p{
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid tomato;
  text-align: center;
  font-size: 1.2rem;
  line-height: 34px;
  background: tomato;
  color: #FFF;
  cursor: pointer;
  transition: .6s ease-in-out;
}
.user p:hover{
  border: 2px solid #008aff;
  cursor: pointer;
  background-color: #008aff;
  transition: .6s ease-in-out;
}